<%= bootstrap_form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.file_field :biz_image %>
  </div> 
  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.text_field :address_state %>
  </div>
  <div class="field">
    <%= f.number_field :address_zip %>
  </div>
  <div class="field">
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.text_field :website_url %>
  </div>
  <div class="field">
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.text_field :facebook_link %>
  </div>
  <div class="field">
    <%= f.text_field :twitter_link %>
  </div>
  <div class="field">
    <%= f.text_field :google_plus_link %>
  </div>
  <div class="field">
    <%= f.text_field :pinterest_link %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
