<p id="notice"><%= notice %></p>

<h1>Welcome to <%= @business.name %> page!</h1>

<%= link_to 'Edit business details', edit_business_path(@business) %>

<% if @business.biz_image_file_name != nil %>
  <%= image_tag @business.biz_image.url(:medium) %>
<% end %>

<!-- The link to might need to be changed if the images get broken on heroku -->
<div id='socialMediaIcons'>
  <% if @business.facebook_link != ''%>
    <%= link_to(image_tag('facebook.png'),'http://www.facebook.com/'+@business.facebook_link) %>
  <% end %>
  <% if @business.twitter_link != ''%>
    <%= link_to(image_tag('twitter.png'),'http://www.twitter.com/'+@business.twitter_link) %>
  <% end %>
  <% if @business.google_plus_link != ''%>
    <%= link_to(image_tag('googleplus.png'),'http://plus.google.com/'+@business.google_plus_link) %>
  <% end %>
  <% if @business.pinterest_link !='' %>
    <%= link_to(image_tag('pinterest.png'),'http://www.pinterest.com/'+@business.pinterest_link) %>
  <% end %>
</div>

<p>
  <!-- Sends e-mail with a subject line containing your business name -->
  <strong><%= mail_to @business.email, 'E-mail us!', subject: "An e-mail from a customer about "+@business.name %></strong>
</p>

<p>
  <strong>We're located at:</strong><br />
  <%= @business.address_street %><br />
  <%= @business.address_city %>, <%= @business.address_state %> 
  <%= @business.address_zip %>
</p>

<p>
  <strong>Phone number:</strong><br />
  <%= @business.phone_number %>
</p>

<p>
  <!-- Create a link to the company's website -->
  <%= link_to "Our company website", 'http://www.'+@business.website_url %>
</p>

<p>
  <strong>Description:</strong><br />
  <%= @business.description %>
</p>

<h2>My products</h2>
<% @products.each do |product| %>
  <table class='product'>
    <tr>
      <td colspan="2">
        <%= link_to product_path(product) do %> 
          <%= image_tag product.product_image.url(:medium) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Product name:</th>
      <td><%= product.name %></td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td><%= product.quantity%></td>
    </tr>
    <tr>
      <th>Price</th>
      <td>$<%= product.price%></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= product.description %></td>
    </tr>
    <tr>
      <th>Category</th>
      <td><%= product.category.category_name%></td>
    </tr>
    <tr>
      <td colspan="2"><%= link_to 'Edit', edit_product_path(product) %></td>
    </tr>
  </table>
<% end %>

