<!-- Show successful new user creation message -->
<div class="container-fluid">
<p id="notice"><%= notice %></p>

<hr /> 
<h1>Log in!</h1>

<!-- Displays error messages -->
<%if params[:error_message] != nil %>
	<p class="text-danger"><%= params[:error_message] %></p>
<% end %> 

<%= bootstrap_form_for @owner, :url => { :controller => "sessions", :action => "create" } do |f| %> <!-- See the comment under the f.submit line for details. the url tells it to go to the sessions path, create method instead-->
	
	<div class='row'>
        <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1'>
            <p><%= f.text_field :email %></p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1'>
	<p class="text-field"><%= f.password_field :password %></p>
		</div>
	</div>
	<p><%=f.submit 'Log yourself in', :class =>  'btn btn-primary center-block' %> </p><!-- This will post back to the users controller by default because it's a user. We need to override this behavior -->
<% end %>

<%= link_to 'New user? Register here', new_owner_path, class: "n3w btn btn-default btn-sm" %>

</div>