<p id="notice"><%= notice %></p>
<br />
<hr />

<h1>Welcome <%= @owner.first_name %>!</h1>
<%= link_to 'Edit my account info', edit_owner_path(@owner), class: "btn btn-warning btn-sm" %>
<hr>

<table class="table table-responsive table-hover">
  <thead>
    <th>Business name</th>
    <th>Business e-mail</th>
    <th>Business website</th>
    <th>Other actions</th>
  </thead>
    <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.name, business_path(business), class: "biz btn btn-primary btn-sm" %></td>
        <td><%= business.email%></td>
        <td><%= business.website_url%></td>
        <td><%= link_to 'Edit this business', edit_business_path(business), class: "edit_business btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Add a new product', new_product_path(business_id: business.id), class: "product btn btn-success btn-sm" %></td>
      </tr>
    <% end %>
    </tbody>
</table>


<%= link_to 'Add a new business', new_business_path, class: "add btn btn-success btn-sm" %>
<%#= link_to 'Back', owners_path %>
