<p id="notice"><%= notice %></p>

<h1>This is the owner show page. Will be the dashboard.</h1>

<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @owner.address_street %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @owner.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @owner.address_state %>
</p>

<p>
  <strong>Address zip:</strong>
  <%= @owner.address_zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @owner.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
