<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div id="mapCard">
  <%= image_tag @businesses[0].biz_image.url(:medium) %> <br />
  <h1><%= @businesses[0].name %></h1> <hr />
  <p><%= number_to_phone@businesses[0].phone_number %></p>

  <p><%= @businesses[0].address_street + ' , ' +
      @businesses[0].address_city + ' , ' +
      @businesses[0].address_state + ' ' +
      @businesses[0].address_zip.to_s
  %> </p><hr />
</div>




  var contentString = '<div id="mapCard">' +
  '<%= image_tag @businesses[0].biz_image.url(:medium) %> <br />' +
  '<h1><%= @businesses[0].name %></h1> <hr />' +
  '<p><%= number_to_phone@businesses[0].phone_number %></p>' +

  "<p><%= @businesses[0].address_street + ' , ' +
      @businesses[0].address_city + ' , ' +
      @businesses[0].address_state + ' ' +
      @businesses[0].address_zip.to_s
  %> </p><hr />" +
'</div>';



            // var contentString = 
            //   '<div id="mapCard">' +
            //   '<%= image_tag @businesses[i].biz_image.url(:medium) %> <br />' +
            //   '<h1><%= @businesses[i].name %></h1> <hr />' +
            //   '<p><%= number_to_phone@businesses[i].phone_number %></p>' +

            //   "<p><%= @businesses[i].address_street + ' , ' +
            //   @businesses[i].address_city + ' , ' +
            //   @businesses[i].address_state + ' ' +
            //   @businesses[i].address_zip.to_s
            //   %> </p><hr />" +
            //   '</div>';          

            // var infowindow = new google.maps.InfoWindow({
            // content: contentString,
            // maxWidth: 300
            // });


</body>
</html>