<%= bootstrap_form_for(@business_owner) do |f| %>
  <% if @business_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_owner.errors.count, "error") %> prohibited this business_owner from being saved:</h2>

      <ul>
      <% @business_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= f.label :business_id %><br>
      <%= f.text_field :business_id %>
    </div>
    <div class="field">
      <%= f.label :owner_id %><br>
      <%= f.text_field :owner_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
