<p id="notice"><%= notice %></p>

<p>
  <strong>Business:</strong>
  <%= @business_owner.business %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @business_owner.owner %>
</p>

<%= link_to 'Edit', edit_business_owner_path(@business_owner), class: "ed1t btn btn-default btn-sm" %> |
<%= link_to 'Back', business_owners_path, class: "back btn btn-default btn-sm" %>
