
<%= bootstrap_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h4 class='text-danger'>All fields are required</h4>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.file_field :product_image %>
  </div> 
  <div class="field">
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.collection_select :category_id, @categories, :id, :category_name %>

  </div>

  <% if params[:business_id] != nil%>
    <!-- Using a hidden field to pass the owner_id! -->
    <%= f.hidden_field :business_id, value:params[:business_id] %>
  <% else %>
    <!-- If the form errors, the address bar clears out the business id -->
    <!-- This grabs the business id from the params hash that's sent back into the view after the form validation comes back with errors -->
    <%= f.hidden_field :business_id, value:params[:product][:business_id] %>
  <%end %>


  <div class="actions">
    <%= f.submit %>
  </div>
  <br />
<% end %>
