<p id="notice"><%= notice %></p>

<h1>This is the product show page</h1>

<p>
  <%= image_tag @product.product_image.url("medium") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<!-- <p>
  <strong>Business:</strong>
  <%#= @product.business %>
</p> -->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
