<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <title>LocalWyze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
 
  // /* Replace #your_subdomain# by the subdomain of a Site in your OneAll account */    
  // var oneall_subdomain = 'https://localwyze.api.oneall.com/';
 

  // /* The library is loaded asynchronously */

  // var oa = document.createElement('script');
  // oa.type = 'text/javascript'; oa.async = true;
  // oa.src = '//' + oneall_subdomain + '.api.oneall.com/socialize/library.js';
  // var s = document.getElementsByTagName('script')[0];
  // s.parentNode.insertBefore(oa, s);
       
</script>

</head>
<body>
<div class="container-fluid">
<br />




    <div class="col-md-12 ">

      <div class="col-md-6">
        <%= image_tag image_url("highLogo.png") %>
      </div>
    <% if current_owner != nil %>
        <div>
          <%= link_to 'Dashboard', owner_path(current_owner), class: "btn btn-info col-md-1 col-md-offset-4" %>
        </div>
        <div>
        <%= link_to 'Log out', sessions_path, method: :delete, class: "btn btn-warning col-md-1" %>
        </div>
    <% else %>
        <div class="col-md-2 col-md-offset-2">
          <h4>Are you a business?</h4>
        </div> 
        <div>
          <%= link_to 'Login', new_session_path, class: "logout btn btn-success btn col-md-1" %>
        </div>
        <div>
        <%= link_to 'Sign up', new_owner_path, class: "logout btn btn-info btn col-md-1" %>
        </div>
    <% end %>
  </div>
<br />
<hr />
<%= yield %>

<!--&lt;!&ndash; This is for troubleshooting only. Delete this later &ndash;&gt;-->
<!--<font color='red'>-->
	<!--<br>-->
	<!--<hr>-->
	<!--<h3>Parameters (for troubleshooting. delete later!)</h3>-->
	<!--<%#= params.inspect %>-->
	<!--<p>Session ID: <p>-->
	<!--<%#=session['owner_id']%>-->
<!--</font>-->

</div>
</body>
</html>
