<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <title>LocalWyze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
 
  // /* Replace #your_subdomain# by the subdomain of a Site in your OneAll account */    
  // var oneall_subdomain = 'https://localwyze.api.oneall.com/';
 
  // /* The library is loaded asynchronously */
  // var oa = document.createElement('script');
  // oa.type = 'text/javascript'; oa.async = true;
  // oa.src = '//' + oneall_subdomain + '.api.oneall.com/socialize/library.js';
  // var s = document.getElementsByTagName('script')[0];
  // s.parentNode.insertBefore(oa, s);
       
</script>

</head>
<body>
<div class="container-fluid">

<h1 class="header">
	<img src="http://johnnywhitfield.com/wp-content/uploads/2015/03/localwyzewhiteletters-1024x251.png" alt="LocalWyze logo" title="LocalWyze" />
</h1>

<!-- Only show log out link if someone is logged in -->
<% if current_owner != nil %>
	<%= link_to 'Log out', sessions_path, method: :delete, class: "logout btn btn-default btn-sm" %>
	<%= link_to 'Back to my dashboard', owner_path(current_owner), class: "dash btn btn-default btn-sm" %>
<% end %>

<%= yield %>

<!-- This is for troubleshooting only. Delete this later -->
<font color='red'>
	<br>
	<hr>
	<h3>Parameters (for troubleshooting. delete later!)</h3>
	<%= params.inspect %>
	<p>Session ID: <p>
	<%=session['owner_id']%>
</font>

</div>
</body>
</html>
